.bodyIssueConteiner {
  display: flex;
  flex-direction: column;
  width: 86.4rem;
  max-width: 86.4rem;
  align-items: center;
  padding: 4rem 3.2rem;
  gap: 2.4rem;
  .bodyIssue {
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    gap: 1rem;
  }
}